

<footer class="admin-content-footer">
    <hr>
    <p class="am-padding-left">© rwh,2333333333333.</p>
</footer>

</div>

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script src="__STATICA__/js/jquery-1.8.2.js"></script>
<script src="__STATICA__/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="__STATICA__/js/amazeui.min.js"></script>
<script src="__STATICA__/js/app.js"></script>
</body>
</html>