{include file='public/_header'/}
{include file='public/_left'/}
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">404</strong> / <small>That’s an error</small></div>
        </div>

        <hr>
      <!--  <button
                type="button"
                class="am-btn am-btn-success"
                id="doc-prompt-toggle">
            Prompt
        </button>

        <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">000</div>
                <div class="am-modal-bd">
                    填写：
                    <input type="text" class="am-modal-prompt-input">
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                    <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                </div>
            </div>
        </div>
-->

        <div class="am-g">
            <div class="am-u-sm-12">
                <h2 class="am-text-center am-text-xxxl am-margin-top-lg">404. Not Found</h2>
                <p class="am-text-center">没有找到你要的页面</p>
                <pre class="page-404">
          .----.
       _.'__    `.
   .--($)($$)---/#\
 .' @          /###\
 :         ,   #####
  `-..__.-' _.-\###/
        `;_:    `"'
      .'"""""`.
     /,  ya ,\\
    //  404!  \\
    `-._______.-'
    ___`. | .'___
   (______|______)
        </pre>
            </div>
        </div>
    </div>










{include file='public/floot'/}

<!--
    <script>
        $(function() {
            $('#doc-prompt-toggle').on('click', function() {
                $('#my-prompt').modal({
                    relatedTarget: this,
                    onConfirm: function(e) {
                        alert('你输入的是：' + e.data || '')
                    },
                    onCancel: function(e) {
                        alert('不想说!');
                    }
                });
            });
        });
    </script>-->
