{include file="public/_header"/}
{include file="public/_left"/}
    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">栏目列表</strong> / <small>Table</small></div>
            </div>

            <hr>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span><a href="{:url('admin/cate/add')}">新增</a></button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
                            <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-form-group">
                        <select data-am-selected="{btnSize: 'sm'}">
                            <option value="option1">所有类别</option>
                            {volist name="cates" id="vo"}
                            <option value="option2">{$vo.catename}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field">
                        <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
                    </div>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" /></th><th class="table">排序</th><th >栏目名称</th><th class="table-main">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="cates" id="vo"}
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td><input type="text" name="sort"  value="{$vo.sort}" dataid="{$vo.id}"  style="width: 50px; height: 25px" ></td>
                                <td><a href="http://www.rwhsql.xyz">{$vo.catename}</a></td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span><a href="{:url('admin/cate/edit',['id' => $vo.id])}">编辑</a></button>
                                            <button class="am-btn am-btn-default am-btn-xs am-hide-sm-only"><span class="am-icon-copy"></span> 复制</button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span><a href="#" class="am-text-danger cate-del" dateid="{$vo.id}"> 删除</a></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                        <div class="am-cf">
                            共 {$cates|}条记录
                            <div class="am-fr">
                                {$cates->render()|replace}
                            </div>

                        </div>
                        <hr />
                        <p>注：.....</p>
                    </form>
                </div>

            </div>
{include file="public/floot"}
            <script type="text/javascript">
                $('.am-cf').dataTable({
                    "lengthMenu":false,//显示数量选择
                    "bFilter": false,//过滤功能
                    "bPaginate": false,//翻页信息
                    "bInfo": false,//数量信息
                    "aaSorting": [[ 1, "desc" ]],//默认第几个排序
                    "bStateSave": true,//状态保存
                    "aoColumnDefs": [
                        //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                        {"orderable":false,"aTargets":[0,1]}// 制定列不参与排序
                    ]
                });
                </script>
            <script>
                layui.use(['layer', 'form'], function(){
                    var layer = layui.layer
                        ,form = layui.form;
                });



                $(function () {
                    $('.pagination').addClass('am-pagination');
                    $('.disabled').addClass('am-disabled');
                    $('.active').addClass('am-active');
                     });

                    $('input[name=sort]').change(function () {
                        var id = $(this).attr('dataid');
                        var sort = $(this).val();
                        $.ajax({
                            url: "{:url('admin/cate/sort')}",
                            type: 'post',
                            data: {id: id, sort: sort},
                            dataType:'json',
                            success: function (data) {
                                if (data.code == 1) {
                                    layer.msg(data.msg, {
                                        icon: 6,
                                        time: 2000
                                    },function () {
                                        location.href = data.url;
                                    });
                                } else {
                                    layer.open({
                                        title: '排序失败',
                                        content:data.msg,
                                        icon: 5,
                                        anim: 5
                                    });
                                }
                            }
                        });
                        return false;
                    });

                    $('.cate-del').click(function () {
                        var id = $(this).attr('dateid');
                        layer.confirm('确认删除吗？',{
                           title:'栏目删除',
                            icon:3,
                        },function (index) {
                            layer.close(index);
                            $.ajax({
                                url: "{:url('admin/cate/del')}",
                                type:'post',
                                data:{id:id},
                                dataType:'json',
                                success:function (data) {
                                    if (data.code == 1){
                                        layer.msg(data.msg,{
                                           icon:6,
                                           time:2000
                                        },function () {
                                            location.href = data.url;
                                        });
                                    } else {
                                        layer.open({
                                            title:'删除失败！',
                                            content:data.msg,
                                            icon:5,
                                            anim:5
                                        });
                                    }
                                }
                            });
                        });
                        return false;
                    });
            </script>